<section class="artpiece-container">
  <article class="artpiece-img">
<img id="image" src="{{data.webImage.url}}" alt="img">

  </article>

    <article class="artpiece-info">
      <h1 class="artpiece-title">{{data.title}}</h1>

      <ul class="artpiece-prop">
          <li class="autor">{{data.principalMakers.0.name}}</li> <br>
          <li>{{data.dating.presentingDate}}</li> <br>
          <li class="description">{{data.plaqueDescriptionEnglish}}</li> <br>
          <li class="technique">{{data.physicalMedium}}</li> <br>
      </ul>


   <div class="addtoalbum-form">

      <form method="post" action="/albums/showAlbum/add/{{data.objectNumber}}">
        <label for="collect" class="addtoalbum-label">Add to your collection:</label> <br>
        
        <div class="add-collect">
          <div class="addtoalbum-select">
            <select name="collect">
              <option>CHOOSE AN ALBUM</option>
              {{#each collection}}
              
              <option>{{albumName}}</option>
              {{/each}}
            </select>
          </div>
          <button type="submit" class="addtoalbum-button">ADD</button>

        </div>

      </form>

    </div>
      
      <a href="/" class="goback">BACK</a>
    </article>  

</section>
