<section class="artpiece-container">
  <article class="artpiece-img">
<img src="{{data.webImage.url}}" alt="img">

  </article>

    <article class="artpiece-info">
      <h1 class="artpiece-title">{{data.title}}</h1>

      <ul class="artpiece-prop">
          <li class="autor">{{data.principalMakers.0.name}}</li> <br>
          <li>{{data.dating.presentingDate}}</li> <br>
          <li class="description">{{data.plaqueDescriptionEnglish}}</li> <br>
          <li class="technique">{{data.physicalMedium}}</li> <br>
      </ul>

      <a href="/" class="goback">BACK</a>

    </article>

</section>
