<section class="artpiece-container">
  <article class="artpiece-img">
<img src="{{data.webImage.url}}" alt="img">

  </article>

    <article class="artpiece-info">
      <h1>{{data.title}}</h1>

      <ul class="artpiece-prop">
          <li>{{data.principalMakers.0.name}}Author</li>
          <li>{{data.dating.presentingDate}}</li>
          <li>{{data.plaqueDescriptionEnglish}}Description</li>
          <li>{{data.physicalMedium}}Technique</li>
      </ul>

    </article>

</section>
