<h1>{{title}}</h1>


<section class="home-container">

           {{#each data}}
          <article class="home-artpiece">
          <a href="artpiece/{{objectNumber}}" class="home-artpiece-img">
              <img src="{{webImage.url}}">
          </a>
          <p class="home-artpiece-author">{{principalOrFirstMaker}}</p>
          <p class="home-artpiece-title">{{title}}</p>
          </article>
          {{/each}}




  </section>


