<h1>CHECK OUR MOST RELEVANT ARTIST'S WORKS</h1>


<section class="home-container">

           {{#each data}}
          <article class="home-artpiece">
          <a href="artpiece/{{objectNumber}}" class="home-artpiece-img">
              {{#if webImage}}
                <img src="{{webImage.url}}">
              {{else}}
                <img src="../images/not-found.jpg">
              {{/if}}
              

          </a>
          <p class="home-artpiece-author">{{principalOrFirstMaker}}</p>
          <p class="home-artpiece-title">{{title}}</p>
          </article>
          {{/each}}

</section>



<section class="background">
  <h1 class="header2">CHECK SOME OF OUR MEMBER'S PERSONALIZED ALBUMS</h1> 
    <article class="home-album-container">
      

           {{#each album}}
              <article class="home-user-album">
              <a href="albums/showAlbum/{{_id}}" class="home-user-album-img">

                  {{#if image}}
                    <img src="{{image}}">
                  {{else}}
                    <img src="../images/not-found.jpg">
                  {{/if}}
                  

              </a>
                <a href="albums/showAlbum/{{_id}}"><p class="home-album-author">{{albumName}}</p></a>
              <p class="home-album-title">{{albumDescription}}</p>
              <a href="/albums/showAllAlbums/{{userId._id}}" class="home-album-alias">{{ userId.alias }}</a>
              </article>
          {{/each}}

          {{#if isUserLoggedIn  }}
           <article class="single-album placeholder">
              <a href="/albums/create">
                  <p>+</p>
              </a>
                <p class="album-name">Create New Album</p>          

          </article>
          {{/if}}
    </article>
</section>


<section class="home-form-container">
    <p>Don't have an account yet?</p>
    
    <a href="/auth/signup" class="signup-button">SIGN UP</a>

    <article class="social">

      <p class="share">Share your albums!</p>
<div class="icons">
      <img src="/images/social.png" alt="instagram">
      {{!-- <img src="/images/twitter.png" alt="twitter"> --}}
      {{!-- <img src="/images/facebook.png" alt="facebook"> --}}
</div>
    <p class="copyright">&copy; 2019. PepaCris</p>
    </article>
  
</section>

