<section class="search-container">
  {{#each response}}
      <article class="search-single-box">

        {{#if webImage}}
        
          <a href="./artpiece/{{objectNumber}}"><img src="{{webImage.url}}" class="search-single-img"></a>
        {{else}}
          <img src="../images/not-found.jpg" class="not-found">
        {{/if}}

        <p class="search-title">{{title}}</p>
        <p class="search-author">{{principalOrFirstMaker}}</p>

      </article>

    {{/each}}
</section>
