<section class="album-container">

    {{#each album}}
      
        <article class="single-album">
          <a href="../../../albums/showAlbum/{{_id}}" class="single-album-portada">
          {{#if image}}
          <img src="{{image}}">
          {{else}}
          <img src="../../images/not-found.jpg">
          {{/if}}
          </a>

          <p class="album-name">{{albumName}}</p>
          <p class="album-description">{{albumDescription}}</p>

          {{#if isUserLoggedIn  }}
          <form method="POST" action="/delete/{{_id}}">
            <button type="submit" class="delete-button">DELETE</button>
          </form>
          {{/if}}
        </article>
        

    {{/each}}

        {{#if isUserLoggedIn  }}
        <article class="single-album placeholder">
          <a href="/albums/create">
              <p>+</p>
          </a>
            <p class="album-name">Create New Album</p>
          <p class="album-description"></p>
          

        </article>
        {{/if}}

      
    </section>