<section class="album-view-container">

{{#if artpiece}}
  {{#each artpiece}}
    <article class="album-single-box">
      {{#if image}}
      <a href="../../../artpiece/{{apiId}}"><img src="{{image}}" alt="{{title}}" class="album-single-img"></a>
      {{else}}
      <img src="../images/popino.jpg" class="not-found">
      {{/if}}
      <p class="album-single-title">{{title}}</p>
      <p class="album-single-author">{{author}}</p>
      {{#if ../isUserLoggedIn}}
      <form method="POST" action="/delete/img/{{_id}}">
            <button type="submit" class="single-delete-button">DELETE</button>
          </form>
      {{/if}}
    </article>
  {{/each}}
{{else}}
  <p class="no-art">There's no art in this collection :(</p>
{{/if}}

{{#with artpiece}}
<div><span><a href="../showAllAlbums/{{[0].collectionId.userId}}" class="go-back">BACK</a></span></div>
{{/with}}
</section>
